# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov
coverage.json

# test results and logs
.test-results.xml
test-output*.log
test-output*.txt
tests-results*

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# screenshots
.cli-kit/screenshots/
.tuix/screenshots/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Research (golang repos)
research/

# Test screenshots
__tests__/screenshots-*/
